#container {
    width:1200px;
    margin:auto;
}
#title-div {
    width:50%;
    text-align:center;
    margin:auto;
    margin-top:15px;
}
#container-left {
    width:560px;
    margin-right:50px;
    float:left;
}
h1 {
    text-align:center;
    font-size:1.2em;
    margin-bottom: 10px;
}
h3 {
    text-align:right;
    font-size:1.2em;
    margin-bottom:5px;
    margin-top: 15px;
}
h5{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
#container-right{
    margin-top:15px;
    width:580px;
    text-align:left;
    float:right;
}
#buy-div {
    height:15px;
    width:50%;
    margin:auto;
    text-align:center;
}

#uploadFile {
    float: right;
    margin-left: 37%;
    border: 7px solid #333333;
    height:190px;
    width:200px;

}
#uploadButton {
    float: right;
    margin:10px 0px 0px 0px;
    position: relative;
    left: 50px;
}

.fileUpload{
    text-align: right;
    float: right;
}
#confirmationContent{
    padding: 50px;
    width: 600px;
    margin: 0px auto;
}
p{
    margin-bottom: 10px;
}
#submitRequest{
    text-align: center;
}
h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#previewObject{
    height: 190px;
    width: 200px;
}

#upload-error {
    color: red;
    float: right;
    text-align: right;
    margin-left: 37%;
}

#submit-button{
    font-size: 12pt;
    cursor: pointer;
}

.readOnly {
    float:left;
    margin-right: 10px;
}

.readOnlyBox{
    background-color: #cccccc;
    width:100px;
}