.storeItem {
    border: 5px dotted darkslategray;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
}

.dark_overlay
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.bright_content
{
    display: none;
    position: absolute;
    width: 500px;
    height: 390px;
    padding: 20px;
    border: 10px solid #ffac21;
    z-index:1002;
    overflow:visible;
    background-color: #ffffff;

}

overlayText {
    color: #555555;
}

.leftText {
    float: left;
    border: 3px solid black;
}

.rightText {
    float: right;
    border: 3px solid red;
}

#imgBox {
    width: 230px;
    height: 230px;
    border: 3px solid purple;
    background-color: #ffac21;
}

#optionsBox {
    border: 3px dotted blue;
    margin-right: 5px;
    width: 230px;
}

#buttonDiv {
    margin-left: 40%;
}

#itemDescriptionBox {
    height: 35px;
    width: 240px;
    background-color: green;
}

#itemImageBox {
    width: 245px;
    height: 245px;
    background-color: #ffac21;
}

#itemTemplate {

}

#helloWorld {
    visibility: hidden;
    float: right;
    width: 200px;
    height: 190px;
    background-color: #0c1280;
    z-index: 1001;
    -moz-opacity: 0.75;
    opacity: .75;
    filter: alpha(opacity=75);
}

.itemm {
    background: red;
    width: 285px;
    height: 250px;
    float: left;
    position: relative;
}
.itemm-hover {
    width: 225px;
    height: 190px;
    float: left;
    opacity:.75;
    background-color:#000000;
    padding:30px;
    position:absolute;
    color: white;
    visibility: hidden;
}
.itemm-name {
    width:271px;
    height:16px;
    position:absolute;
    bottom:0px;
    background-color: #000000;
    color: white;
    padding:7px;
}
.itemm-type {
    float:right;
}