#content {
    height: 100%;
}

#content .container {
    color: black;
    text-align: center;
    padding: 0px 0px 40px 0px;
    width: 1200px;
    font-family: Garamond;
}

#content .container h1 {
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    padding: 12px 0px 8px 0px;
    background-color: #333;
    color: #fff;
    width: 810px;
}

#content .container hr {
    color: #F2B139;
    width: 400px;
    margin:auto;
}

#content .container img {
    margin: 30px 0 30px 0;
    box-shadow: 0px 0px 5px 5px #000;
}

#box {
    background-color: #fff;
    width: 900px;
    margin:auto;
    padding: 20px;
}