nav {
    height: 25px;
    min-width: 1200px;
    color: #666;
    background-color: #f2b139;
    vertical-align: middle;
    font-family: arial, sans-serif;
}

.ml-1 {
    margin-left: 230px;
}
.ml-2 {
    margin-left: 160px;
}
.ml-3 {
    margin-left: 163px;
}
.nav-btn {
    display: block;
    float: left;
    padding-top: 4px;
    padding-right: 20px;
    font-size: .9em;
    position: relative;
}
.nav-btn:hover {
    color: #FFF;
    /*font-weight: bold;*/
}
.nav-br {
    position: absolute;
    top: 6px; right: 0;
    margin-right: 10px;
    height: 12px;
    border-right: 1px solid #666;
}
.nav-btn-active {
    color: #FFF;
}

#nav-search input {
    width: 166px;
    background-color: #ffcc66;
    color: #666;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 25px;
    line-height: 15px;
    font-size: .8em;
}
#nav-search input::-webkit-input-placeholder {
    color: #f2b139;
}
#nav-search input::-moz-placeholder {
    color: #f2b139;
}
#nav-search input::-ms-placeholder {
    color: #f2b139;
}
#nav-search input:focus {
    outline: 0;
}
#nav-search button {
    background: none;
    border: none;
    margin-left: -25px;
    cursor: pointer;
}
#nav-search button:focus {
    outline: 0;
}

#magnifying-glass {
    font-size: 1.5em; /* This controls the size. */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid #f2b139;
    position: relative;
    border-radius: 0.35em;
}
#magnifying-glass::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: #f2b139;
    width: 0.35em;
    height: 0.08em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#nav-search button:hover #magnifying-glass {
    border: .1em solid #FFF;
}
#nav-search button:hover #magnifying-glass::before {
    background: #FFF;
}
   