#navigation {
    background-color: #ffa800;
    height: 40px;
    min-width: 1200px;
    width:100%;
}

#navigation div {
    height: 40px;
}
/* shop designers collections */
#main-nav1 {
    margin-top:-4px;
    float:left;
    margin-left:150px;
}
.nav-1-btn {
    float:left;
}

pre {
    font-family: "Garamond", serif;
}

/* latest popular  */
#main-nav2 {
    margin-top:10px;
    float:left;
    margin-left:300px;
}

/* drop down nav */
#drop-down-1 {
    width:350px;
    height:100%;
    position:absolute;
    left:180px;
    background-color:#000000;
    opacity:.75;
    padding:20px 50px 20px 30px;
    z-index:1000;
    visibility: hidden;
}
.drop-down-col {
    height: 250px;
    float: left;
    margin-left:20px;
    font-size:.8em;
}
#column-2 {
    margin-top:37px;
}
#drop-down-1 h1 {
    font-size:1.1em;
}

/* search box container */
#search-field {
    background-color: #ffcc66;
    display: inline-block;
    float: right;    
    height : 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);   
}

/* search input */
#search-field input {
    background-color: #ffcc66;
    border: none;
    padding: 5px;
    width: 180px;
}

/* search button icon */
#search-field button {
    background: none;
    border: none;   
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#search-field button:hover {
    cursor: pointer;
}