#content {
    width: 100%;
}

#container {
    width: 800px;
    background-color: white;
    margin: 30px auto;
    padding: 40px 30px 60px 30px;
}

#review {

}

#review-title {
    width: 100%;
}

#review-title span {
    font-size: 2em;
}

#item-info {
    width: 50%;
    float: left;
    padding-top: 10px;
}

#item-properties {
    width: 50%;
    float: right;
    padding-top: 10px;
}

#review-close {
    width: 100%;
    /*border-top: solid 1px #f2b139;*/
    /*padding-top: 10px;*/
}

.gray-subtitle-bar {
    color: white;
    margin-bottom: 0px;
    padding: 6px 6px 6px 10px;
    background-color: #999999;
    font-weight: 600;
}

#approve-button {
    float: left;
    margin-left: 250px;
    background-color: #999999;
}

#reject-button {
    float: right;
    margin-right: 250px;
    background-color: #999999;
}



