/* CORE CSS
 *
 */
* {
	margin: 0;
	padding: 0;
}
body {
	color: #666;
	background-color: #EEE;
	/*font-family: 'tahoma';*/
	font-family: 'verdana';
	/*font-family: 'arial';*/
	/*font-family: 'myriad pro';*/
	font-size: 12pt;
}
article, aside, header, footer, nav, section {
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
}
.clear {
	clear: both;
}

#main {
	width: 1000px;
	margin: 20px auto;
	background-color: #FFF;
}


/* SECTION TAB CSS
 *
 */
.section-nav {
	width: 150px;
	line-height: 2rem;
        display: inline-block;
        margin: 10px;
	text-align: center;
	background-color: #EEE;
}
.section-nav:hover {
	background-color: #999;
	color: #EEE;
}


/* LIST SECTION CSS
 *
 */
.list {
	margin-bottom: 30px;
}
.heading {
	font-size: 1.6rem;
}
.field {
	font-size: 1.3rem;
	background-color: #e3e3e3;
	color: #000;
}
.row {
	font-size: 1rem;
}
.light {
	background-color: #FFF;
	color: #666;
}
.dark {
	background-color: #EEE;
	color: #666;
}
.light:hover {
	background-color: #999;
	color: #EEE;
}
.dark:hover {
	background-color: #999;
	color: #EEE;
}

/* LIST CELL CSS
 *
 */
.cell-w250 {
	width: 250px;
	float: left;
	text-align: center;
}
.cell-w200 {
	width: 200px;
	float: left;
	text-align: center;
}
.cell-w150 {
	width: 150px;
	float: left;
	text-align: center;
}
.cell-w100 {
	width: 100px;
	float: left;
	text-align: center;
}
.cell-w90 {
	width: 90px;
	float: left;
	text-align: center;
}
.cell-h50 {
	line-height: 50px;
	padding: 10px 0;
}

.cell-h30 {
	line-height: 30px;
	padding: 10px 0;
}

/* MARGINS CSS
 *
 */
.ml-10 {
	margin-left: 10px
}
.ml-30 {
	margin-left: 30px;
}
.ml-125 {
	margin-left: 125px;
}
.ml-175 {
	margin-left: 175px;
}

/* CELL COMPONENT CSS
 *
 */
.cell-img {
	display: block;
	width: 50px;
	margin-left: 25px;
}
.pass {
	display: block;
	font-size: 2rem;
}
.pass:hover {
	color: #F93;
}

.edit {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}
.edit:hover {
	color: #F93;
}