header {
    background-color:#372f2b;
    color: #FFF;
    overflow: hidden;
    height: 150px;
    min-width:1200px;
    width:100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url("geometric-boxes-white.png");
    background-repeat: no-repeat;
    background-position: center;
}


/* LOGIN/STATUS */
#user {
    position: absolute;
    top: 10px; right: 7px;
    text-align: right;
    font-size: .9em;
    font-family: arial, sans-serif;
}
#user-login {
    width: 85px;
    float: right;
}
#user-name {
    width: 200px;
    float: right;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#user-name:hover {
    color: #f2b139;
}
.user-btn {
    display: block;
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
}
.user-btn:hover {
    color: #f2b139;
}

/* HEADER NAV */
#header-head {
    position: absolute;
    top: 70px; left: 3px;
}
.head-home {
    display: block;
    float: left;
}
#head-logo {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-top: -25px;
    background-image: url('logo.png');
    background-size: 100% 100%;
    background-position: center;
}
.head-btn {
    display: block;
    float: left;
    font-size: 1em;
    margin-top: 50px;
    margin-right: 40px;
    /*line-height: 2em;*/
}
.head-btn:hover {
    color: #f2b139;
}
.head-home:hover {
    color: #f2b139;
}
.head-home:hover #head-logo {
    background-image: url('logo-hover.png');
    background-size: 100% 100%;
    background-position: center;
}

#brand-btn{
    font-size:2em;
    margin-top: 45px;
    /*text-transform: uppercase;*/
}