<!doctype html>

<html lang="en">


    <!-- FOOTER -->  
    <div>
        <a href="#"><img height="35px" width="35px" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_twitter.png"/></a>
        <a href="#"><img height="35px" width="35px" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_tumblr.png"/></a>
        <a href="#"><img height="35px" width="35px" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_youtube.png"/></a>
        <a href="#"><img height="35px" width="35px" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_google+.png"/></a>
        <a href="#"><img height="35px" width="35px" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_facebook.png"/></a>
    </div>
    

</html>
