<!doctype html>

<html lang="en">
    
    
    <!-- HEADER -->
    <div id="header">
        <div class="container"> <!-- keeps header content in 1200px fixed width-->
            <a href="http://localhost:8080/itp460/ITP_EmblemObjects/designer"><input id="sign-in" type="button" value="SIGN IN"/></a>
            <div style="clear:both"></div>          
            <a href = "http://localhost:8080/itp460/ITP_EmblemObjects/home"><img id="logo" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/logo.png" width="60px" height="60px"/></a>
            <a href = "http://localhost:8080/itp460/ITP_EmblemObjects/home"><span id="title">EmblemObjects</span></a>
            <a href = "http://localhost:8080/itp460/ITP_EmblemObjects/whats-new" class="header-link">WHAT'S NEW</a>
            <a href="http://localhost:8080/itp460/ITP_EmblemObjects/how-to" class="header-link" style="color:#ffa800">HOW TO</a>
        </div>      
    </div>
    
    
</html>
