<!doctype html>

<html lang="en">
    
    
    <!-- HEADER -->
    <div class="container"> <!-- keeps header content in 1200px fixed width-->
        <input id="sign-in" type="button" value="SIGN IN"/>
        <div style="clear:both"></div>          
        <img id="logo" src="http://localhost:8080/itp460/ITP_EmblemObjects/images/logo.png" width="60px" height="60px"/>
        <span id="title">emblem objects.</span>
        <a href="#" class="header-link">WHAT'S NEW</a>
        <a href="#" class="header-link" style="color:#ffa800">HOW TO</a>
    </div>      

    
</html>
