<!doctype html>

<html lang="en">
    <!-- NAVIGATION -->
    <div class="container">
        <!-- search box -->
        <!--<div id="main-nav1" class="nav"> -->
            
            <nav id="nav">
                <ul id="navig">
                    <li><a href="#" class="first">STORE</a>
			<ul>
			    <li><a href="#">Accessories</a>
                                <ul>
				    <li><a href="#">Cases</a></li>
				    <li><a href="#">Keychains</a></li>
				    <li><a href="#">Belts & Buckles</a></li>
				</ul>
                            </li>
			    <li><a href="#">Art</a>
                                <ul>
				    <li><a href="#">Sculptures</a></li>
				    <li><a href="#">Parametics</a></li>
				    <li><a href="#">Themed</a></li>
				</ul>
                            </li>
			    <li><a href="#">Gadgets</a>
                                <ul>
				    <li><a href="#">Parts</a></li>
				    <li><a href="#">Props</a></li>
				</ul>	
			    </li>
			    <li><a href="#">Home</a>
                                <ul>
				    <li><a href="#">Placements</a></li>
				    <li><a href="#">Holders</a></li>
				    <li><a href="#">Vases</a></li>
				    <li><a href="#">Lighting</a></li>
                                    <li><a href="#">Desktop</a></li>
				</ul>	
                            </li>
                            <li><a href="#">Jewelry</a>
                                <ul>
				    <li><a href="#">Rings</a></li>
				    <li><a href="#">Pendants</a></li>
				    <li><a href="#">Necklaces</a></li>
				    <li><a href="#">Bracelets</a></li>
                                    <li><a href="#">Earrings</a></li>
                                    <li><a href="#">Cufflinks</a></li>
                                    <li><a href="#">Watches</a></li>
				</ul>	
                            </li>
                            <li><a href="#">Novelty</a>
                                <ul>
				    <li><a href="#">Desk Toys</a></li>
				    <li><a href="#">Puzzles</a></li>
				</ul>	
			    </li>
			</ul> 
                    </li>
                    <li><a href="#">DESIGNERS</a>
			<ul>
			    <li><a href="#">Jacob Blitzer</a></li>
			</ul>
                    </li>
                    <li><a href="#" class="last">COLLECTIONS</a>
                        <ul>
			    <li><a href="#">Launch Collection</a></li>
			</ul>
                    </li>
                </ul>
            </nav>
            
            
            
            <!--
            <pre id="shop" class="nav-1-btn">SHOP | </pre>
            <pre id="designers" class="nav-1-btn"> DESIGNERS | </pre>
            <pre id="collections" class="nav-1-btn"> COLLECTIONS</pre>
            -->
       <!-- </div> -->
        <div id="main-nav2" class="nav">
            LATEST |
            POPULAR
        </div>
        <form name="search-field" id="search-field" method="GET" action="http://localhost:8080/itp460/ITP_EmblemObjects/php/search.php">
            <input name="query"/>
            <button type="submit"><img src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_search.png" alt="Search" height="15px" width="15px"/></button>
        </form>
    </div>
    <div id="drop-down-1">
        <div class="drop-down-col">
            <h1>SOLO OBJECTS</h1>
            JEWELRY<br/>
            <br/>
            rings<br/>
            bracelets<br/>
            pendants<br/>
            earrings<br/>
            cufflinks<br/>
        </div>
        <div class="drop-down-col" id="column-2">
            OTHER<br/>
            <br/>
            models<br/>
        </div>
    </div>
</html>
