<!doctype html>

<html lang="en">
    <!-- NAVIGATION -->
    <div class="container">
        <!-- search box -->
        <div id="main-nav1" class="nav">
            <pre id="shop" class="nav-1-btn">SHOP | </pre>
            <pre id="designers" class="nav-1-btn"> DESIGNERS | </pre>
            <pre id="collections" class="nav-1-btn"> COLLECTIONS</pre>
        </div>
        <div id="main-nav2" class="nav">
            LATEST |
            POPULAR
        </div>
        <form name="search-field" id="search-field" method="GET" action="http://localhost:8080/itp460/ITP_EmblemObjects/php/search.php">
            <input name="query"/>
            <button type="submit"><img src="http://localhost:8080/itp460/ITP_EmblemObjects/images/icon_search.png" alt="Search" height="15px" width="15px"/></button>
        </form>
    </div>
    <div id="drop-down">
        <div class="drop-down-col">
            <h1>SOLO OBJECTS</h1>
            JEWELRY<br/>
            <br/>
            rings<br/>
            bracelets<br/>
            pendants<br/>
            earrings<br/>
            cufflinks<br/>
        </div>
        <div class="drop-down-col">
            OTHER<br/>
            <br/>
            models<br/>
        </div>
    </div>
    <div id="drop-down-1">
        <div class="drop-down-col">
            <h1>SOLO OBJECTS</h1>
            JEWELRY<br/>
            rings<br/>
            bracelets<br/>
            pendants<br/>
            earrings<br/>
            cufflinks<br/>
        </div>
        <div id="column-2" class="drop-down-col">
            OTHER<br/>
            models<br/>
        </div>
    </div>
</html>
